/* Media query pour les écrans de 375px à 667px */
@media screen and (max-width: 375px) {
  body {
      font-size: 14px; /* Réduire la taille de police */
  }

  .contact-section {
      margin-top: 20px; /* Ajuster l'espacement si nécessaire */
  }
}


/* Responsive styles header */
@media (max-width: 667px) {

     body {
        font-size: 16px; /* Taille de police normale */
    }


  /* Masquer la phrase de déplacement */
  .top-bar p {
    display: none;
  }

  .top-bar span {
    display: none;
  }

  /* Ajuster la taille du texte */
  nav > ul > li > a {
    font-size: 1rem;
  }

  header {
    width: 100%;
    height: 110px;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    text-align: center; /* Centre le texte */
  }

  nav > ul {
    align-items: center;    
  }

  header nav a {
    padding: 10px 0; /* Ajoute un peu d'espace autour des liens */
}

}

/* Responsiveness */
@media (max-width: 900px) {
  #navbar ul {
      justify-content: center; /* Recentre la navbar sur mobile */
      padding: 0;
  }

  #welcome-section h1 {
      font-size: 36px;
  }

  #projects h2, #about h2, #contact h2 {
      font-size: 30px;
  }

  .project-tile {
      width: 80%;
      margin: 15px 0;
  }

  #about p {
      width: 90%; /* Ajuste la largeur du texte sur mobile */
  }

  .social-media a {
      display: block;
      margin: 10px auto;
      width: 80%;
  }

  #footer p {
    justify-content: center; /* Recentre le footer sur mobile */
    padding: 0;
  }
}



/**********************************/
/* Taille des mobiles (écrans inférieurs à 768px) */
@media (max-width: 768px) {
/* Bannière */
.banniere {
  height: 50vh; /* Ajuste la hauteur pour les tablettes */
}

.video-background {
  margin: 0;
  padding: 0;
  height: auto; /* Adapte la vidéo */
  width: 115%; /* Occupe toute la largeur */
  min-height: 100px; /* Garantit que la vidéo remplit toujours la hauteur */
  max-height: 300px; /* Limite la hauteur */
  object-fit: cover; /* Garde un bon cadrage en remplissant la zone définie */
   z-index: 1; /* Assurez-vous que la vidéo soit en dessous */
}

.video-background video {
  width: 200%;
}

.banniere .see-more {
  top: 450px; /* Position légèrement ajustée */
 
  z-index: 2; /* Assurez-vous que le bouton soit au-dessus de la vidéo */
   
}

/* Section pink-section */

#accueil {
  width: 90%; /* Limite la largeur à 90% sur mobile */
  margin: 0 auto; /* Centre la section */
}


footer {
  text-align: center; /* Centre le texte du footer */
}



.pink-section, .pink-section.reverse {
    flex-direction: column; /* Passe le texte en dessous de l'image */
    align-items: center;
    text-align: center; /* Centrer le texte */
    width: 90%;
    gap: 20px; /* Réduit l'espacement entre les éléments */
    padding: 20px; /* Moins d'espace intérieur */
    
    
  }



  .intro-text,
  .pink-section .content {
    width: 90%; /* Texte prend toute la largeur */
    max-width: 100%;
  }

  .intro-image img,
  .pink-section img {
    max-width: 90%;
    height: auto; /* Conserve les proportions */

  }




/* Tables */
.table-grid {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10%;
  display: block; /* Transforme les colonnes en blocs empilés */
  width: 80%; /* Utilise toute la largeur disponible */
  align-items: center; /* Centre verticalement */
  max-width: 100%; /* L'image s'adapte à la largeur de l'écran */
  height: auto; /* Conserve les proportions */
}

.table-section {
  margin-bottom: 20px; /* Espacement entre les sections */
}

.table-section table {
  width: 100%; /* Utilise toute la largeur disponible */
  font-size: 0.9rem; /* Réduit légèrement la taille du texte */
}
}

/* Taille des tablettes (écrans entre 768px et 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
/* Bannière */
.banniere {
  height: 600px; /* Ajuste la hauteur pour les tablettes */
}

.video-background {
  margin: 0;
  padding: 0;
  height: auto; /* Adapte la vidéo */
  width: 100%; /* Occupe toute la largeur */
  min-height: 100px; /* Garantit que la vidéo remplit toujours la hauteur */
  max-height: 300px; /* Limite la hauteur */
  object-fit: cover; /* Garde un bon cadrage en remplissant la zone définie */
  position: relative; /* Définit la position relative pour le conteneur de la vidéo */
  z-index: 1; /* Assurez-vous que la vidéo soit en dessous */
}

.video-background video {
  width: 100%;
}

.banniere .see-more {
  top: 370px; /* Position légèrement ajustée */
  position: relative; /* Position relative pour le bouton */
  z-index: 2; /* Assurez-vous que le bouton soit au-dessus de la vidéo */
  top: 450px; /* Ajustez selon vos besoins */
}

/* Section pink-section */
.pink-section {
  width: 90%;
  flex-direction: row; /* Maintient le texte et l'image côte à côte */
  gap: 30px; /* Espacement plus réduit */
}

.pink-section .content {
  max-width: 50%; /* Ajuste la largeur du texte */
}

.pink-section img {
  max-width: 80%; /* Ajuste la largeur de l'image */
}

/* Tables */
.table-grid {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10%;
  display: block; /* Transforme les colonnes en blocs empilés */
  width: 80%; /* Utilise toute la largeur disponible */
  align-items: center; /* Centre verticalement */
  max-width: 100%; /* L'image s'adapte à la largeur de l'écran */
  height: auto; /* Conserve les proportions */
}

.table-section {
  margin-bottom: 20px; /* Espacement entre les sections */
}

.table-section table {
  width: 100%; /* Utilise toute la largeur disponible */
  font-size: 0.9rem; /* Réduit légèrement la taille du texte */
}
}