
body {
  font-family: 'Georgia', serif; /* Use a serif font for elegance */
  background-color: #f9f9f9; /* Light background for contrast */
  margin: 0;
}

.container {
  max-width: 1200px; /* Define max width for the container */
  margin: auto; /* Center the container */
}

.prestations-tarifs {
  padding-top: 50px;
}

.prestations-tarifs h1 {
  font-size: 2.5rem;
}

.table-grid {
  display: grid; /* Use CSS Grid for layout */
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 40px; /* Space between the tables */
}

.table-section {
  margin-bottom: 40px; /* Space between sections */
  background-color: #fff; /* White background for each section */
  padding: 20px;
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

h1 {
  font-size: 24px; /* Title size */
  margin-bottom: 20px; /* Space below the title */
  text-align: center; /* Center the title */
}

table {
  width: 100%; /* Full width table */
  border-collapse: collapse; /* Collapse borders */
}

td {
  padding: 10px; /* Padding inside cells */
  border-bottom: 2px solid #fbe1e6; /* Light border for separation */
  text-align: left; /* Align text to the left */
}

td:nth-child(2), td:nth-child(3) {
  text-align: right; /* Align numbers to the right */
}

tr:last-child td {
  border-bottom: none; /* Remove border from last row */
}

.comment {
  font-size: 0.8rem; /* Taille de police plus petite */
  color: #666; /* Couleur grise pour le texte des commentaires */
  padding-top: 5px; /* Espacement au-dessus du commentaire */
  padding-bottom: 15px; /* Espacement en dessous, pour éviter la barre rose */
  border-bottom: none; /* Pas de bordure pour les commentaires */
}
  

  /* Espace  le texte et l'icône .tarifs-container {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  .tarif-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 75%;
    text-align: center;
  }
  
  .tarif-card ul {
    list-style: none;
    padding: 0;
  }

   .tarifs-container {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
  }
  
  .tarif-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 45%;
    text-align: center;
  }
  
  .tarif-card ul {
    list-style: none;
    padding: 0;
  }

  @media (max-width: 768px) {
    .tarifs-container {
      grid-template-columns: 1fr; /* Une seule colonne sur petit écran */
    }
  }

